$main-color: #272727;
$seasonal-color: #CC9165;

body{
    background-color: $main-color;
    font-family: sans-serif;
}
   
.backgroundImage{
    background-image: url("images/seasonalJumbotron.jpg");
}

.seasonal{
    background-color: $seasonal-color;
    margin-bottom: 2%;
    color: white;

    img{
        margin: 2%;
    }
}

.horizontalImg{
        width: 55%;
        height: auto;
}

.verticalImg{
        width: 50%;
        height: auto;
}

.site-footer{
    padding: 20px 0;
}

.thumbnail{
    position: relative;
}

.caption{
    color: white;
    position: absolute;
    top: 45%;
    left: 0;
    width: 100%;
}