body {
  background-color: #272727;
  font-family: sans-serif; }

.jumbotron {
  background-image: url("images/seasonalJumbotron.jpg");
  background-size: cover; }

.seasonal {
  background-color: #CC9165; }

.horizontalImg {
  width: 40%;
  height: auto; }

.verticalImg {
  width: 50%;
  height: auto; }
