body{
  font-family: sans-serif; 
  background-color: #272727;
}

.jumbotron {
  background-image: url("../images/seasonalJumbotron.jpg");
  background-size: cover;
}

#menuSquares img{
  display: block;
  margin: 0 auto;
  height: auto;
}

.site-footer{
  color: white;
  padding: 20px 0;
  background-color: #472103;
}
