$main-color: #272727;
$seasonal-color: #CC9165;

body{
    background-color: $main-color;
    font-family: sans-serif;
}
   
.jumbotron{
    background-image: url("images/seasonalJumbotron.jpg");
    background-size: cover;
}

.seasonal{
    background-color: $seasonal-color;
}

.horizontalImg{
        width: 40%;
        height: auto;
}

.verticalImg{
        width: 50%;
        height: auto;
}
   